@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");



/* Estilos generales */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos de botones */
button {
    background-color: #9c522b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #303f9f;
  }
  
select{
  size: 100px;
  width: 200px;
}

  .grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }
  
  .grid-item {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px #727272;
    margin: 15px;
    background-color: #e0c481;
    text-align: center;
  }
  
  .grid-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    max-height: 70%;
    display: flex;
    margin: auto;
  }

  .img-item {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  .titulo-item {
    font-size: 18px;
    font-weight: bold;
    color: #333;
      }

  .parrafo-item{
    text-align: justify;
    display: block;
    }

  .formulario-container {
    display: grid;
    place-self: center;
    max-width: 500px;
      background-color: #e0c481;
      border: #000000;
      padding: 10px;
      text-align: center;
      font-size: large;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

header {
    /* background-color: #994a00; */
    background-image: url(IMG/Header.jpg);
    color: #0f754b(17%, 75%, 35%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    }


div{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    font-weight: bold;
    background-color: rgba(255, 153, 102, 0.55);
}

nav li {
    margin-right: 20px;
}

nav a {
    color: black; 
        
}

section {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #ccc;
}

section a {
    align-content: center;
    text-align: justify;
    
}

h1, h2, h3 {
    margin: 0;
    text-align: center;
    color: black

}
#visor_imagenes {
  text-align: center;
  color: #6f1a1a;
  background-color: rgba(255, 153, 102, 0.55);
  
}
  


/* Estilos responsivos */

@media screen and (max-width: 768px) {
  #menu-items {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
  }

  #menu-items li {
    margin-bottom: 10px;
    
  }
}



/* Estilos responsivos */

/* Estilos para dispositivos móviles pequeños (hasta 480px) */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .grid-item {
    padding: 10px;
    text-align: center;
  }
  
  .titulo-item {
    font-size: 16px;
  }

  /* Esconde la navegación principal */
  header nav {
    display: none;
   
  }
  #menu-items {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
  }

  #menu-items li {
    margin-bottom: 10px;
  }
}


/* Estilos para dispositivos móviles medianos (hasta 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-item {
    padding: 15px;
  }
  
  .titulo-item {
    font-size: 20px;
  }
}

/* Estilos para dispositivos de escritorio (a partir de 769px) */
@media screen and (min-width: 769px) {
  .grid-item {
    padding: 20px;
  }
  
  .titulo-item {
    font-size: 24px;
  }
}

/* Estilos para pie de página */

footer {
    background-color: #572e00;
    color: #fff;
    padding: 10px;
    text-align: center;
    position:static;
}
.social {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
  }
  
  .social a {
    color: #e5ff00;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  .social li {
    margin-left: 20px;
    margin-bottom: -10px;
  }
  

